<header id="main">
  <hgroup>
    <h1>lijentan.com</h1>
    <h2>A place on the web for all my stuff...</h2>
  </hgroup>
</header>

<nav>
  <ul>
    <li><a href="#">RSS</a></li>
    <li><a href="#">Filter By Tag</a></li>
    <li><a href="#">FB</a></li>
    <li><input type="search" placeholder="search" /></li>
  </ul>
</nav>

<section id="posts">
  <% @posts.each do |post| %>
  <article>
    <header>
      <h1><a href="#"><%= post.title %></a></h1>
      <time datetime="2009-10-22" pubdate><%= post.date_published %></time>
    </header>
    <p><%= post.body %></p>
  </article>
  <% end %>
</section>
