<div <%= video_attributes(post_element) %>>
  <video src="http://www.youtube.com/embed/<%= post_element.element.video_id %>?autohide=1&controls=0&modestbranding=1&rel=0&showinfo=0&fs=1"></video>
</div>
