<% skip_to_cycle(@space_of_last_post, spaces, "space") if @space_of_last_post %>

<% if @site.header_post %>
  <%= render(@site.header_post) %>
<% end %>

<% if @site.show_nav %>
<nav>
  <ul id="posts-nav">
    <%= render partial: 'post_nav', collection: @posts, as: :post  %>
    <li id="nav-post-loading" style="display:none">
      <a class="bullet">&#8226;</a>
    </li>
  </ul>
</nav>
<% end %>

<section id="posts">
  <%= render(@posts) %>
</section>
