<% skip_to_cycle(@space_of_last_post, spaces, "space") if @space_of_last_post %>

<header id="main">
  <hgroup>
    <h1>Lijen's Blog</h1>
    <h2>A place on the web for all my stuff...</h2>
  </hgroup>
</header>

<nav>
  <ul id="posts-nav">
    <%= render partial: 'post_nav', collection: @posts, as: :post  %>
    <li id="nav-post-loading" style="display:none">
      <a class="bullet">&#8226;</a>
    </li>
  </ul>
</nav>

<section id="posts">
  <%= render(@posts) %>
</section>
