/* ----------------------
iPhone, iPad, etc, super hack-a-thon!
   -------------------------*/
@media only screen and (max-width : 915px), only screen and (max-height : 400px) {
    article {
	min-height: auto !important;
    }

    h1, h2, h3, h4, h5, h6 {
	height: auto !important;
	margin: 0 !important;
	padding: 0 5px !important;
	line-height: $baseLineHeight * 1.25 !important;
    }

    h1 {
	font-size: $baseFontSize * 2 !important;
    }
    h2 {
	font-size: $baseFontSize * 1.75 !important;
    }
    h3 {
	font-size: $baseFontSize * 1.25 !important;
    }
    h4 {
	font-size: $baseFontSize * 1 !important;
    }
    h5 {
	font-size: $baseFontSize * .75 !important;
    }
    h6 {
	font-size: $baseFontSize * 0.5 !important;
    }

    p, h1, h2, h3, h4, h5, h6, span, em, b, a {
	&.massive {
	    font-size: $fontSizeMassive * .75 !important;
	    line-height: $lineHeightMassive * .75 !important;
	}

	&.huge {
	    font-size: $fontSizeHuge * .75 !important;
	    line-height: $lineHeightHuge * .75 !important;
	}

	&.xlarge {
	    font-size: $fontSizeXLarge * .75 !important;
	    line-height: $lineHeightXLarge * .75 !important;
	}

	&.large {
	    font-size: $fontSizeLarge * .75 !important;
	    line-height: $lineHeightLarge * .75 !important;
	}

	&.medium {
	    font-size: $fontSizeMedium * .75 !important;
	    line-height: $lineHeightMedium * .75 !important;
	}

	&.small {
	    font-size: $fontSizeSmall * .75 !important;
	    line-height: $lineHeightSmall * .75 !important;
	}

	&.xsmall {
	    font-size: $fontSizeXSmall * .75 !important;
	    line-height: $lineHeightXSmall * .75 !important;
	}

	&.tiny {
	    font-size: $fontSizeTiny * .75 !important;
	    line-height: $lineHeightTiny * .75 !important;
	}
    }

    .text-box {
	position: relative !important;
	top: 0px !important;
	bottom: 0px !important;
	left: 0px !important;
	right: 0px !important;
	display: inline !important;
	border: none !important;

	p {
	    padding: 5px 15px !important;
	}

	&.fixed-scan {
	    display: none !important;
	}
    }

    .sprite {
	position: relative !important;
	top: 0px !important;
	bottom: 0px !important;
	left: 0px !important;
	right: 0px !important;
	background-size: auto !important;
	background-position: 50% 50% !important;
    }

    .sprite.fixed, .sprite.fixed-scan {
	background-attachment: scroll !important;
    }

    .text-box.fixed, .text-box.fixed-scan {
	position: relative !important;
    }

    .desktop-only {
	display: none !important;
    }
}