/* ----------------------
   Body Reset
   -------------------------*/
body {
    font-family: $baseFontFamily;
    font-size: $baseFontSize;
    line-height: $baseLineHeight;
    color: $textColor;
    background-color: $bodyBackground;
    width: 100%;
}

/* ----------------------
   Links
   -------------------------*/
a {
  color: $linkColor;
  text-decoration: none;
}
a:hover {
  color: $linkColorHover;
  text-decoration: underline;
}

img {max-width: 100%;}
